[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/vundle
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "z"]
	path = z
	url = git://github.com/rupa/z.git
