[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/vundle
[submodule "Lokaltog-powerline"]
	path = Lokaltog-powerline
	url = https://github.com/Lokaltog/powerline/
[submodule "powerline-shell"]
	path = powerline-shell
	url = https://github.com/hit9/powerline-shell
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/pyflakes"]
	path = vim/pyflakes
	url = https://github.com/kevinw/pyflakes.git
