<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAntiAliasingThreshold</key>
	<integer>1</integer>
	<key>AppleScrollAnimationEnabled</key>
	<integer>0</integer>
	<key>AppleSmoothFixedFontsSizeThreshold</key>
	<integer>1</integer>
	<key>CheckTestRelease</key>
	<true/>
	<key>ClosingHotkeySwitchesSpaces</key>
	<false/>
	<key>CommandSelection</key>
	<true/>
	<key>Control</key>
	<integer>1</integer>
	<key>CopySelection</key>
	<true/>
	<key>Custom Color Presets</key>
	<dict>
		<key>badwolf</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.07884746789932251</real>
				<key>Green Component</key>
				<real>0.081504985690116882</real>
				<key>Red Component</key>
				<real>0.084070242941379547</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23157770931720734</real>
				<key>Green Component</key>
				<real>0.047367841005325317</real>
				<key>Red Component</key>
				<real>0.98624968528747559</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15240286290645599</real>
				<key>Green Component</key>
				<real>0.93834143877029419</real>
				<key>Red Component</key>
				<real>0.63046509027481079</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19092315435409546</real>
				<key>Green Component</key>
				<real>0.85182952880859375</real>
				<key>Red Component</key>
				<real>0.97291433811187744</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.98367494344711304</real>
				<key>Green Component</key>
				<real>0.53285735845565796</real>
				<key>Red Component</key>
				<real>0.08325166255235672</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.66511940956115723</real>
				<key>Green Component</key>
				<real>0.53468632698059082</real>
				<key>Red Component</key>
				<real>0.99060678482055664</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67388933897018433</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.49877551198005676</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15240286290645599</real>
				<key>Green Component</key>
				<real>0.93834143877029419</real>
				<key>Red Component</key>
				<real>0.63046509027481079</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19092315435409546</real>
				<key>Green Component</key>
				<real>0.85182952880859375</real>
				<key>Red Component</key>
				<real>0.97291433811187744</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.98367494344711304</real>
				<key>Green Component</key>
				<real>0.53285735845565796</real>
				<key>Red Component</key>
				<real>0.08325166255235672</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.54265487682739399</real>
				<key>Green Component</key>
				<real>0.07593459356894508</real>
				<key>Red Component</key>
				<real>0.5839048359728507</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67388933897018433</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.49877551198005676</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93616712093353271</real>
				<key>Green Component</key>
				<real>0.95608699321746826</real>
				<key>Red Component</key>
				<real>0.96525788307189941</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23157770931720734</real>
				<key>Green Component</key>
				<real>0.047367841005325317</real>
				<key>Red Component</key>
				<real>0.98624968528747559</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059559822083</real>
				<key>Green Component</key>
				<real>0.64705878496170044</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93616712093353271</real>
				<key>Green Component</key>
				<real>0.95608699321746826</real>
				<key>Red Component</key>
				<real>0.96525788307189941</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16346455557818418</real>
				<key>Green Component</key>
				<real>0.17250528211240018</real>
				<key>Red Component</key>
				<real>0.17749575791855199</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.121517613530159</real>
				<key>Green Component</key>
				<real>0.5898473858833313</real>
				<key>Red Component</key>
				<real>0.99183934926986694</real>
			</dict>
		</dict>
		<key>getafe</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5215686559677124</real>
				<key>Green Component</key>
				<real>0.43921568989753723</real>
				<key>Red Component</key>
				<real>0.35294118523597717</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.42965834888059701</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.93333333730697632</real>
				<key>Red Component</key>
				<real>0.68235296010971069</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.86274510622024536</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.94117647409439087</real>
				<key>Green Component</key>
				<real>0.69019609689712524</real>
				<key>Red Component</key>
				<real>0.0039215688593685627</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.58823531866073608</real>
				<key>Red Component</key>
				<real>0.70588237047195435</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.76470589637756348</real>
				<key>Red Component</key>
				<real>0.4117647111415863</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058963775635</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.97254902124404907</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.93333333730697632</real>
				<key>Red Component</key>
				<real>0.68235296010971069</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.86274510622024536</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.94117647409439087</real>
				<key>Green Component</key>
				<real>0.69019609689712524</real>
				<key>Red Component</key>
				<real>0.0039215688593685627</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.58823531866073608</real>
				<key>Red Component</key>
				<real>0.72549021244049072</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.76470589637756348</real>
				<key>Red Component</key>
				<real>0.4117647111415863</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058963775635</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.97254902124404907</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.5215686559677124</real>
				<key>Green Component</key>
				<real>0.43921568989753723</real>
				<key>Red Component</key>
				<real>0.35294118523597717</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.054901961237192154</real>
				<key>Green Component</key>
				<real>0.43137255311012268</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.11764705926179886</real>
				<key>Green Component</key>
				<real>0.11372549086809158</real>
				<key>Red Component</key>
				<real>0.10588235408067703</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058963775635</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.97254902124404907</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.54509806632995605</real>
				<key>Green Component</key>
				<real>0.20784313976764679</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058963775635</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.97254902124404907</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058963775635</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.97254902124404907</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.97647058963775635</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.97254902124404907</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.54509806632995605</real>
				<key>Green Component</key>
				<real>0.20784313976764679</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>3747C351-19EA-4360-9D67-C7CE87CC7651</string>
	<key>DimInactiveSplitPanes</key>
	<true/>
	<key>EnableRendezvous</key>
	<false/>
	<key>FocusFollowsMouse</key>
	<false/>
	<key>FsTabDelay</key>
	<real>1</real>
	<key>HiddenAFRStrokeThickness</key>
	<real>0.0</real>
	<key>HiddenAdvancedFontRendering</key>
	<false/>
	<key>HideScrollbar</key>
	<false/>
	<key>HideTab</key>
	<true/>
	<key>HighlightTabLabels</key>
	<true/>
	<key>HotKeyBookmark</key>
	<string>3747C351-19EA-4360-9D67-C7CE87CC7651</string>
	<key>HotKeyTogglesWindow</key>
	<false/>
	<key>Hotkey</key>
	<false/>
	<key>HotkeyChar</key>
	<integer>0</integer>
	<key>HotkeyCode</key>
	<integer>0</integer>
	<key>HotkeyModifiers</key>
	<integer>0</integer>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>JobName</key>
	<true/>
	<key>LeftCommand</key>
	<integer>7</integer>
	<key>LeftOption</key>
	<integer>2</integer>
	<key>MaxVertically</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads/gist3947733-30843b282992ff9cc8da6299e19897ac2a9ad470</string>
	<key>NSQuotedKeystrokeBinding</key>
	<string></string>
	<key>NSRepeatCountBinding</key>
	<string></string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>566 341 445 270 0 0 1920 1058 </string>
	<key>NSWindow Frame Preferences</key>
	<string>284 296 800 433 0 0 1920 1058 </string>
	<key>NSWindow Frame iTerm Window 0</key>
	<string>555 281 905 626 0 0 1920 1058 </string>
	<key>NSWindow Frame iTerm Window 1</key>
	<string>0 420 905 626 0 0 1920 1058 </string>
	<key>NSWindow Frame iTerm Window 2</key>
	<string>0 92 1913 966 0 0 1920 1058 </string>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.07884746789932251</real>
				<key>Green Component</key>
				<real>0.081504985690116882</real>
				<key>Red Component</key>
				<real>0.084070242941379547</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23157770931720734</real>
				<key>Green Component</key>
				<real>0.047367841005325317</real>
				<key>Red Component</key>
				<real>0.98624968528747559</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15240286290645599</real>
				<key>Green Component</key>
				<real>0.93834143877029419</real>
				<key>Red Component</key>
				<real>0.63046509027481079</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19092315435409546</real>
				<key>Green Component</key>
				<real>0.85182952880859375</real>
				<key>Red Component</key>
				<real>0.97291433811187744</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.98367494344711304</real>
				<key>Green Component</key>
				<real>0.53285735845565796</real>
				<key>Red Component</key>
				<real>0.08325166255235672</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.66511940956115723</real>
				<key>Green Component</key>
				<real>0.53468632698059082</real>
				<key>Red Component</key>
				<real>0.99060678482055664</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67388933897018433</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.49877551198005676</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15240286290645599</real>
				<key>Green Component</key>
				<real>0.93834143877029419</real>
				<key>Red Component</key>
				<real>0.63046509027481079</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19092315435409546</real>
				<key>Green Component</key>
				<real>0.85182952880859375</real>
				<key>Red Component</key>
				<real>0.97291433811187744</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.98367494344711304</real>
				<key>Green Component</key>
				<real>0.53285735845565796</real>
				<key>Red Component</key>
				<real>0.08325166255235672</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.54265487194061279</real>
				<key>Green Component</key>
				<real>0.075934596359729767</real>
				<key>Red Component</key>
				<real>0.58390486240386963</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67388933897018433</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.49877551198005676</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93616712093353271</real>
				<key>Green Component</key>
				<real>0.95608699321746826</real>
				<key>Red Component</key>
				<real>0.96525788307189941</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23157770931720734</real>
				<key>Green Component</key>
				<real>0.047367841005325317</real>
				<key>Red Component</key>
				<real>0.98624968528747559</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059559822083</real>
				<key>Green Component</key>
				<real>0.64705878496170044</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Disable Smcup Rmcup</key>
			<false/>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93616712093353271</real>
				<key>Green Component</key>
				<real>0.95608699321746826</real>
				<key>Red Component</key>
				<real>0.96525788307189941</real>
			</dict>
			<key>Guid</key>
			<string>3747C351-19EA-4360-9D67-C7CE87CC7651</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0x9-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>9</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Inconsolata-dzForPowerline 17</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Inconsolata-dzForPowerline 17</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Scrollback With Status Bar</key>
			<false/>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16346456110477448</real>
				<key>Green Component</key>
				<real>0.17250528931617737</real>
				<key>Red Component</key>
				<real>0.17749576270580292</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.121517613530159</real>
				<key>Green Component</key>
				<real>0.5898473858833313</real>
				<key>Red Component</key>
				<real>0.99183934926986694</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/hit9</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.07884746789932251</real>
				<key>Green Component</key>
				<real>0.081504985690116882</real>
				<key>Red Component</key>
				<real>0.084070242941379547</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23157770931720734</real>
				<key>Green Component</key>
				<real>0.047367841005325317</real>
				<key>Red Component</key>
				<real>0.98624968528747559</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15240286290645599</real>
				<key>Green Component</key>
				<real>0.93834143877029419</real>
				<key>Red Component</key>
				<real>0.63046509027481079</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19092315435409546</real>
				<key>Green Component</key>
				<real>0.85182952880859375</real>
				<key>Red Component</key>
				<real>0.97291433811187744</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.98367494344711304</real>
				<key>Green Component</key>
				<real>0.53285735845565796</real>
				<key>Red Component</key>
				<real>0.08325166255235672</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.66511940956115723</real>
				<key>Green Component</key>
				<real>0.53468632698059082</real>
				<key>Red Component</key>
				<real>0.99060678482055664</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67388933897018433</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.49877551198005676</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.99999129772186279</real>
				<key>Green Component</key>
				<real>0.99997437000274658</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.15240286290645599</real>
				<key>Green Component</key>
				<real>0.93834143877029419</real>
				<key>Red Component</key>
				<real>0.63046509027481079</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.19092315435409546</real>
				<key>Green Component</key>
				<real>0.85182952880859375</real>
				<key>Red Component</key>
				<real>0.97291433811187744</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.98367494344711304</real>
				<key>Green Component</key>
				<real>0.53285735845565796</real>
				<key>Red Component</key>
				<real>0.08325166255235672</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.54265487194061279</real>
				<key>Green Component</key>
				<real>0.075934596359729767</real>
				<key>Red Component</key>
				<real>0.58390486240386963</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.67388933897018433</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.49877551198005676</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93616712093353271</real>
				<key>Green Component</key>
				<real>0.95608699321746826</real>
				<key>Red Component</key>
				<real>0.96525788307189941</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.23157770931720734</real>
				<key>Green Component</key>
				<real>0.047367841005325317</real>
				<key>Red Component</key>
				<real>0.98624968528747559</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Blink Allowed</key>
			<false/>
			<key>Blinking Cursor</key>
			<false/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.37647059559822083</real>
				<key>Green Component</key>
				<real>0.64705878496170044</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Cursor Type</key>
			<integer>2</integer>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Disable Smcup Rmcup</key>
			<false/>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.93616712093353271</real>
				<key>Green Component</key>
				<real>0.95608699321746826</real>
				<key>Red Component</key>
				<real>0.96525788307189941</real>
			</dict>
			<key>Guid</key>
			<string>C4EDF62F-26A5-4587-9046-E19FFFA2F17C</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0x9-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>9</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Minimum Contrast</key>
			<real>0.0</real>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Copy of Default</string>
			<key>Non Ascii Font</key>
			<string>Inconsolata-dzForPowerline 17</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Inconsolata-dzForPowerline 17</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>1000</integer>
			<key>Scrollback With Status Bar</key>
			<false/>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.16346456110477448</real>
				<key>Green Component</key>
				<real>0.17250528931617737</real>
				<key>Red Component</key>
				<real>0.17749576270580292</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.121517613530159</real>
				<key>Green Component</key>
				<real>0.5898473858833313</real>
				<key>Red Component</key>
				<real>0.99183934926986694</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/hit9</string>
		</dict>
	</array>
	<key>OnlyWhenMoreTabs</key>
	<true/>
	<key>OpenArrangementAtStartup</key>
	<false/>
	<key>OpenBookmark</key>
	<false/>
	<key>PMPrintingExpandedStateForPrint2</key>
	<false/>
	<key>PassOnControlClick</key>
	<false/>
	<key>PasteFromClipboard</key>
	<true/>
	<key>PromptOnClose</key>
	<true/>
	<key>PromptOnQuit</key>
	<true/>
	<key>QuitWhenAllWindowsClosed</key>
	<false/>
	<key>RightCommand</key>
	<integer>8</integer>
	<key>RightOption</key>
	<integer>3</integer>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://iterm2.googlecode.com/svn/trunk/appcasts/testing.xml</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2013-07-17T03:54:33Z</date>
	<key>SUSkippedVersion</key>
	<string>1.0.0.20130622</string>
	<key>SavePasteHistory</key>
	<false/>
	<key>ShowBookmarkName</key>
	<false/>
	<key>SmartPlacement</key>
	<false/>
	<key>SwitchTabModifier</key>
	<integer>4</integer>
	<key>SwitchWindowModifier</key>
	<integer>6</integer>
	<key>TabViewType</key>
	<integer>0</integer>
	<key>URLHandlersByGuid</key>
	<dict/>
	<key>UseBorder</key>
	<false/>
	<key>UseCompactLabel</key>
	<true/>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitStandardFont</key>
	<string>Lucida Grande</string>
	<key>WindowNumber</key>
	<true/>
	<key>WindowStyle</key>
	<integer>0</integer>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>iTerm Version</key>
	<string>1.0.0</string>
</dict>
</plist>
